@media(min-width: 300px) and (orientation : landscape) and (hover: none) and (pointer: coarse){
/****************************************************START****************************************************/

	*{
		padding : 0;
		margin : 0;
		box-sizing : border-box;
		
	}
	:root{
		--pri_color :#002875;
		--sec_color :#7a0632;
		--bg_color :#eff6ff;
    	overflow-x : hidden;
	}
    body{
    	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    	overflow-x : hidden;
    }	
/*************************************TEXT ANIMATION*************************************/	
	
	
    .char{
        font-size: 4.5rem;
        display: inline-block;
        animation: an 1s ease-out 1 both;
    	background : repeating-linear-gradient(to right,#AE8626,#F7EF8A,#D2AC47,#EDC967);
    	-webkit-text-fill-color :transparent;
    	-webkit-background-clip : text;
		background-clip : text;
    }	
	
	
	
    .char_animated{
        animation: an 1s ease-out 1 both;		
    }


    @keyframes an{
        from{
            opacity: 0;
            transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
        }
        to{
            opacity: 1;
            transform: perspective(500px) translate3d(0, 0, 0);
        }
    }
	
/******************************NAV SECTION******************************/
    nav{
    	width : 100%;
    	height : 60px;
    	padding : 0 0 0 2rem;
    	position : fixed;
    	top : 0;
        background: linear-gradient(315deg, #592917 0%,#003836  74%);
		z-index : 2;
		box-shadow: 1px 1px 3px 3px #3e3e3e4C;
    }
    .nav_section_flex{
    	width : 100%;
    	display : flex;
    	align-items : center;
    	justify-content : space-between;
    	color : #ffffff;
		text-align : center;
		margin : 10px  auto 0 auto;
    }
	.nav_section_mid_flex_item{
		margin : 0 15% 0 25%;
	}
	.nav_section_heading{
		font-weight : 600;
		font-size : 1.25rem;
	}	
	.connect_btn{
		border : solid 2px #003836;
		outline : none;
		background-color : #eee9e2;
		color : #003836;
		font-weight : 600;
		font-size : 1.5rem;
		width : 150px;
		height : 45px;
		border-radius : 5px;
		box-shadow : 1px 1px 3px 3px #3e3e3e4C;
		margin : 0 3px 0 0;		
	}
	.connect_icon{
		width : 30px;
		height : 30px;
	}
	.fa-bars{
		font-size : 1.75rem;
		cursor : pointer;
		color : #eee9e2;
	}

    .nav_section_heading_link{
		color : #ffffff;
	}
	.nav_section_heading_link:hover{
		color : #ffffff;
		text-decoration : none;
	}
/******************************FIRST SECTION******************************/
    #first_section{
    	width : 100%;
    	background-image : url("../IMAGES/Gemini_Generated_Image_fnvwhdfnvwhdfnvw.webp");
    	min-height : 100dvh;
        min-height : 100vh;
        background-size : cover;	
    }
    
    #first_section .first_section_content{
    	width : 100%;
    	color : #ffffff;
    	min-height : 40dvh;
        min-height : 40vh;		
    	/* padding : 30rem 6rem 0 10rem; */
    }
    
    
	#first_section .hero_text{
	    /* width : 600px; */
	    font-size : 1.75rem;
		font-weight : 600;
	    text-align : left;
	    padding-left : 25px;
	}

    #first_section .first_section_heading{
		font-weight : 600;
		font-size : 4rem;
		display : none;
	}

    #first_section .first_section_image{
		width : 100%;
		height : 100%;
    	min-height : 100dvh;
        min-height : 100vh;		
	}
	
	
}